In [1]:
import pandas as pd

# dict type 생성
df = pd.DataFrame({
        'a' : [4,5,6],
        'b' : [7,8,9],
        'c' : [10,11,12]
    }, 
    index = [1,2,3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [2]:
df.loc[1, 'c']

10

In [3]:
df.loc[[1,2], ['a','c']]

   a   c
1  4  10
2  5  11

In [5]:
# list type 생성
df = pd.DataFrame([
        [4,7,10],
        [5,8,9],
        [6,9,12]
    ], 
    index=[1,2,3], 
    columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8   9
3  6  9  12

In [6]:
df = pd.DataFrame({
        'a' : [4,5,6],
        'b' : [7,8,9],
        'c' : [10,11,12]
    }, index = pd.MultiIndex.from_tuples(
        [('d',1), ('d', 2), ('e', 2)],
        names = ['n', 'v']
))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12